* {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedorBody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.bloqueTexto {
    flex: 100%;
    padding: 20px;
    text-align: center;
}

.bloqueMoñeco {
    flex: 10;
    height: 60vh;
    max-width: 600px;
    max-height: 600px;
    border-style: solid;
    border-color: #dada;
    background-color: #dadada;
}

#contenedorPersonaje {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.armario {
    flex: 1;
    gap: 4px;
    grid-template-columns: 1fr 1fr; 
    align-content: start;
    display: grid;
    padding: 5px;
    max-width: 150px; 
    min-width: 150px;
    background-color: #412700;

}    

.prenda:hover {
    cursor: grab;
    transition: transform 0.2s;
}

#nombrePersonaje {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
